* {
  box-sizing: border-box;
  font-family: "Segoe UI", Roboto, Arial, sans-serif;
}

body {
  margin: 0;
  background: #ece5dd;
  height: 100vh;
}
@media (max-width: 600px) {
  .chat-container {
    max-width: 100%;
  }

  .chat-message {
    max-width: 85%;
  }
}

/* ---------- LOGIN PAGE ---------- */
#username-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.username-page-container {
  background: #ffffff;
  padding: 30px;
  height: 40%;
  width: 100%;
  max-width: 360px;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.15);
  text-align: center;
}

.username-page-container h1 {
  margin-bottom: 20px;
  color: #075e54;
}

.username-submit {
  height:20px;
  border-radius: 20px;
  width: 100%;
  background: #25d366;
  border: none;
  color: white;
  font-weight: bold;
}

/* ---------- CHAT PAGE ---------- */
#chat-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  background: #ddd;
}


.chat-container {
  width: 100%;
  max-width: 900px;
  height: 100vh;
  background: #efeae2;
  display: flex;
  flex-direction: column;
}

/* Header */
.chat-header {
  background: #075e54;
  color: white;
  padding: 15px;
  text-align: center;
  font-weight: bold;
}

/* Messages */
#messageArea {
  flex: 1;
  list-style: none;
  padding: 15px;
  margin: 0;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Chat bubble */
.chat-message {
  max-width: 70%;
  padding: 10px 14px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 14px;
  word-wrap: break-word;
}

.chat-message.left {
  background: white;
  align-self: flex-start;
  border-top-left-radius: 0;
}

.chat-message.right {
  background: #dcf8c6;
  align-self: flex-end;
  border-top-right-radius: 0;
}

/* Username */
.chat-message span {
  font-size: 12px;
  font-weight: bold;
  display: block;
  margin-bottom: 4px;
}

/* System messages */
.event-message {
  text-align: center;
  color: gray;
  font-size: 13px;
  margin: 10px 0;
}

/* Input */
#messageForm {
  background: #f0f0f0;
  padding: 10px;
  display: flex;
}

#messageForm input {
  flex: 1;
  border-radius: 20px;
  border: none;
  padding: 10px 15px;
  outline: none;
}


#sendBtn {
  height: 30px;
  width: 70px;
    background-color: #22c55e;
    color: white;
    border: none;
    padding: 10px 16px;
    border-radius: 20px;
    font-size: 14px;
    cursor: pointer;
}
